

@font-face {
    font-family: 'AvenirNext';
    src: url('../fonts/AvenirNext.eot');
    src: url('../fonts/AvenirNext.eot') format('embedded-opentype'),
         url('../fonts/AvenirNext.woff') format('woff'),
         url('../fonts/AvenirNext.ttf') format('truetype'),
         url('../fonts/AvenirNext.svg#AvenirNext') format('svg');
}
